﻿@model PagedList.IPagedList<RunnerRegister.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Ajax.BeginForm("Search", "Events",
    new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "grid",
        InsertionMode = InsertionMode.Replace
    }))
{
    <input type="text" name="searchInput" placeholder="Live Search"
           oninput="$('#searchForm').submit()" value="@ViewBag.CurrentFilter" />
    <input type="submit" value="Search" />
}
<div id="grid">
    @Html.Partial("_EventView", Model)
</div>