﻿@using PagedList.Mvc
@using RunnerRegister.Helper
@model PagedList.IPagedList<RunnerRegister.Models.Event>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = "Name", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter })
            @Html.GetArrow((string)ViewBag.sortOrder, "Name", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Event Date", "Index", new { sortOrder = "EventDate", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter })
            @Html.GetArrow((string)ViewBag.sortOrder, "EventDate", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Is Closed?", "Index", new { sortOrder = "EventStatus", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter })
            @Html.GetArrow((string)ViewBag.sortOrder, "EventStatus", (string)ViewBag.sortDir)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsClosed)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(
    Model,
    page => Url.Action("Index",
        new { page, sortOrder = ViewBag.SortOrder, sortDir = ViewBag.SortDir, currentFilter = ViewBag.CurrentFilter }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "grid" })
    )