﻿@using PagedList.Mvc
@using RunnerRegister.Helper
@model PagedList.IPagedList<RunnerRegister.Models.RunnerViewModel>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = "Name", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter })
            @Html.GetArrow((string)ViewBag.sortOrder, "Name", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Gender", "Index", new { sortOrder = "Gender", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter })
            @Html.GetArrow((string)ViewBag.sortOrder, "Gender", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = "Email", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter })
            @Html.GetArrow((string)ViewBag.sortOrder, "Email", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Telephone", "Index", new { sortOrder = "Telephone", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter })
            @Html.GetArrow((string)ViewBag.sortOrder, "Telephone", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Event Name", "Index", new { sortOrder = "EventName", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter })
            @Html.GetArrow((string)ViewBag.sortOrder, "EventName", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Event Status", "Index", new { sortOrder = "EventStatus", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchInput = ViewBag.CurrentFilter })
            @Html.GetArrow((string)ViewBag.sortOrder, "EventStatus", (string)ViewBag.sortDir)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)&nbsp;
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.GenderType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Name)
            </td>
            <td>
                @if (!item.Event.IsClosed)
                {
                    @Html.Raw("Open")
                }
                else
                {
                    @Html.Raw("Closed")
                }
            </td>
            <td>
                @if (!item.Event.IsClosed)
                {
                    @Html.Raw(@Html.ActionLink("Edit", "Edit", new { id = item.Id }).ToString() +" | " +@Html.ActionLink("Details", "Details", new { id = item.Id }).ToString() + " | " + @Html.ActionLink("Delete", "Delete", new { id = item.Id }).ToString())
                }
            </td>
        </tr>
    }
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(
    Model,
    page => Url.Action("Index",
        new { page, sortOrder = ViewBag.SortOrder, sortDir = ViewBag.SortDir, currentFilter = ViewBag.CurrentFilter }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "results" })
    )